{% extends 'master.html' %}


{% block body %}
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/static/images/bg-4.png');">
    <h2 class="ltext-105 cl0 txt-center">
       
    </h2>
</section>	
<section class="sec-product-detail bg0 p-t-100 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="/static/images/compression-series-3.png">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="/static/images/compression-series-3.png" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/static/images/compression-series-3.png">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        Hiking long sleeved t shirt  
                    </h4>
                    <p class="stext-102 cl3 p-t-23">
                        Conquer the trails in comfort and style with our Hiking Long Sleeved T-shirt. Designed for outdoor enthusiasts, this shirt features long sleeves to provide protection from the elements while still allowing for freedom of movement. Crafted from lightweight, breathable fabric, it wicks away moisture to keep you dry and comfortable on long hikes. The versatile design makes it suitable for a variety of outdoor activities, from hiking to camping to exploring the great outdoors. With our Hiking Long Sleeved T-shirt, you can tackle any adventure with confidence and ease.
                    </p>					
                </div>
            </div>
        </div>
</section>
<section class="sec-product-detail bg0 p-t-100 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="/static/images/comperisson.png">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="/static/images/comperisson.png" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/static/images/comperisson.png">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        Slim Fit Half Zip Long Sleeve T-Shirt  
                    </h4>
                    <p class="stext-102 cl3 p-t-23">
                        Upgrade your casual wardrobe with our Slim Fit Half Zip Long Sleeve T-Shirt. Crafted with style and comfort in mind, this versatile t-shirt is perfect for everyday wear. The slim fit silhouette offers a modern look, while the half zip design adds a touch of sophistication. Made from high-quality fabric, it's lightweight and breathable, making it ideal for layering or wearing on its own. Whether you're heading to brunch or running errands, this Long Sleeve T-Shirt is sure to become a staple in your wardrobe.
                    </p>					
                </div>
            </div>
        </div>
</section>
<section class="sec-product-detail bg0 p-t-100 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="/static/images/highneck.png">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="/static/images/highneck.png" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/static/images/highneck.png">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        High Neck Compression Full Sleeves T-shirt White  
                    </h4>
                    <p class="stext-102 cl3 p-t-23">
                        Elevate your training regime with our High Neck Compression Full Sleeves T-shirt in timeless White. Designed for maximum performance, this compression shirt features a high neckline for added coverage and support. The full sleeves offer protection against the elements, while the compression fit improves blood circulation and reduces muscle fatigue. Crafted from breathable fabric, it wicks away moisture to keep you dry and comfortable during intense workouts. Whether you're pushing your limits in the gym or out for a run, this Compression T-shirt delivers unmatched comfort and style.
                    </p>					
                </div>
            </div>
        </div>
</section>
<section class="sec-product-detail bg0 p-t-100 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="/static/images/compression-full-sleeve-t-shirt.png">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="/static/images/compression-full-sleeve-t-shirt.png" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/static/images/compression-full-sleeve-t-shirt.png">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        Compression Fullsleeves T-shirt Teal  
                    </h4>
                    <p class="stext-102 cl3 p-t-23">
                        Dominate your workouts in style with our Compression Fullsleeves T-shirt in vibrant Teal. Engineered for peak performance, this compression shirt provides targeted support to key muscle groups, reducing fatigue and enhancing recovery. The moisture-wicking fabric keeps you dry and comfortable, while the full sleeves offer added coverage and protection. Whether you're lifting weights or hitting the trails, this Compression T-shirt ensures you stay cool, dry, and focused from start to finish.
                    </p>					
                </div>
            </div>
        </div>
</section>
<section class="sec-product-detail bg0 p-t-100 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="/static/images/waist-wear.png">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="/static/images/waist-wear.png" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/static/images/waist-wear.png">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        Waist wear  
                    </h4>
                    <p class="stext-102 cl3 p-t-23">
                        Elevate your athletic performance with our Waist Wear. Engineered for active individuals, this innerwear is designed to provide optimal support, comfort, and flexibility during sports and physical activities. Crafted from advanced moisture-wicking fabric, it helps keep you cool and dry by efficiently managing sweat and moisture. The ergonomic design and seamless construction minimize chafing and irritation, allowing for unrestricted movement and maximum comfort. Whether you're playing basketball, soccer, or hitting the gym, our Waist Wear ensures you stay focused and perform at your best, every time.
                    </p>					
                </div>
            </div>
        </div>
</section>
<section class="sec-product-detail bg0 p-t-100 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="/static/images/waist-wear-2.png">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="/static/images/waist-wear-2.png" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/static/images/waist-wear-2.png">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                    White Fitted Waist wear  
                    </h4>
                    <p class="stext-102 cl3 p-t-23">
                        Embrace effortless style and comfort with our White Fitted Waistwear. Perfect for both casual outings and active days, this fitted waistwear combines fashion and functionality. Crafted from soft, breathable fabric, it offers all-day comfort and freedom of movement. The classic white hue adds a touch of sophistication to your look, while the fitted design ensures a flattering silhouette. Whether paired with your favorite jeans or workout leggings, this waistwear is a versatile essential for every wardrobe.
                    </p>					
                </div>
            </div>
        </div>
</section>

<section class="sec-product-detail bg0 p-t-100 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="/static/images/nikkar/luxury-nikkar.png">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="/static/images/nikkar/luxury-nikkar.png" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/static/images/nikkar/luxury-nikkar.png">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        Shorts  
                    </h4>
                    <p class="stext-102 cl3 p-t-23">
                        Elevate your activewear collection with Snapper's Track Suits, meticulously designed to combine performance and style. Whether you're hitting the gym, going for a run, or simply lounging at home, these tracksuits provide the perfect blend of comfort and functionality. Crafted from premium materials, Snapper's Track Suits offer superior durability and flexibility, ensuring freedom of movement during any activity. With attention to detail and innovative design elements, these tracksuits are the go-to choice for individuals who demand both performance and fashion in their activewear.
                    </p>					
                </div>
            </div>
        </div>
</section>
<section class="sec-product-detail bg0 p-t-100 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="/static/images/comperisson-shorts.png">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="/static/images/comperisson-shorts.png" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/static/images/comperisson-shorts.png">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        2 in 1 Compression Shorts Light Grey  
                    </h4>
                    <p class="stext-102 cl3 p-t-23">
                        Experience versatility and performance with our 2 in 1 Compression Shorts in Light Grey. Designed for the modern athlete, these shorts feature a compression inner layer that provides muscle support and reduces chafing, while the outer layer offers maximum mobility and coverage. The moisture-wicking fabric keeps you dry and comfortable, while the elastic waistband ensures a snug fit. Whether you're tackling your next workout or relaxing on rest days, these shorts are a must-have addition to your activewear collection.
                    </p>					
                </div>
            </div>
        </div>
</section>
<section class="sec-product-detail bg0 p-t-100 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="/static/images/nikkar/comperrison-pants.png">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="/static/images/nikkar/comperrison-pants.png" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/static/images/nikkar/comperrison-pants.png">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                         Compression Pants | Gym & Sports Body Fit Tights Activewear.  
                    </h4>
                    <p class="stext-102 cl3 p-t-23">
                        Maximize your performance with our PROSHARX Compression Pants. Engineered for gym workouts and sports activities, these body-fit tights are designed to enhance your training regimen. Made from premium compression fabric, they provide targeted support to key muscle groups, reducing fatigue and improving recovery time. The sleek design offers a streamlined fit that moves with your body, while the moisture-wicking properties keep you cool and dry during intense workouts. Whether you're hitting the gym or competing on the field, our Compression Pants will help you reach new heights in your fitness journey.
                    </p>					
                </div>
            </div>
        </div>
</section>
<section class="sec-product-detail bg0 p-t-100 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="/static/images/comperisson-pants.png">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="/static/images/comperisson-pants.png" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/static/images/comperisson-pants.png">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        Compression Tights Red  
                    </h4>
                    <p class="stext-102 cl3 p-t-23">
                        Elevate your performance with our Compression Tights in striking Red. Engineered to provide optimal support and comfort, these tights offer targeted compression to enhance blood circulation and reduce muscle fatigue during intense workouts. Crafted from premium moisture-wicking fabric, they keep you dry and cool throughout your training sessions. Whether you're hitting the gym or pounding the pavement, these Compression Tights are your go-to choice for style and performance.
                    </p>					
                </div>
            </div>
        </div>
</section>

{% endblock %}