{% extends 'master.html' %}


{% block body %}
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/static/images/common-bg.png');">
</section>	
<h2 class="ltext-105 cl0 txt-center">
    Company Profile
</h2>

<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8" >
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md" style="font-size:25px;">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Story
                    </h3>

                    <p class="stext-113 cl6 p-b-26" style="font-size:18px;"><b>
                       Snapper is a distinguished clothing manufacturer, wholesaler, and supplier situated in the vibrant heart of  Karol Bagh, Delhi . Established with a vision to redefine fashion with premium quality garments Snapper has emerged as a trusted name in the industry, embodying  style, comfort, and durability in every stitch.</b>
                    </p>

                    <p class="stext-113 cl6 p-b-26" style="font-size:18px"><b>
                       Mission Statement:
                        At Snapper, our mission is to provide our customers with premium clothing solutions that exceed expectations in terms of quality, style, and affordability. We are committed to crafting garments that not only look good but also feel great ensuring utmost >customer satisfaction with every purchase.</b>
                    </p>

                    <p class="stext-113 cl6 p-b-26" style="font-size:18px;"><b>
                        Product Range:
                        Snapper specializes in a wide range of clothing options, including: <br>
                       T-Shirts,: Offering classic crew necks , Long Sleeved Warm T-Shirt  short sleeved t-shirts, sports t-shirts.<br>
                        Track Suits: Providing a blend of performance and style withclassic jogger suits performance running suits tech-fleece suitsurban streetwear suits, and retro-inspired suits<br>
                        Nikkars/Shorts: Embracing traditional Indian attire with classic Dry Fit ShortsTighty Shortstraditional Compression ShortsNS Lycra Shorts<br>
                        Shorts: Catering to warm-weather comfort and style with classic Dry Fit Shorts performance athletic shorts cargo style shorts, chino shorts denim shorts and more.<br>
                        Sweat Shirts: Offering loungewear comfort with a touch of streetwear flair through soft and cozy Sweat Shirt designed for relaxation and Sports Wear.</b><br>


                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="/static/images/t-shirt/henley-t-shirts-1.png" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>

                    <p class="stext-113 cl6 p-b-26" style="font-size:18px;">
                        <b>At Snapper, quality is our top priority. We source the finest materials and employ skilled craftsmen to ensure every garment meets our rigorous quality standards. From fabric selection to stitching and finishing, each step of the production process undergoes meticulous inspection to uphold our commitment to excellence</b>.
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22" style="font-size:18px;">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            <b>Customer Satisfaction:
                            We believe in building long-lasting relationships with our customers by delivering exceptional products and service. Our dedicated team is always ready to assist customers with inquiries, orders, and any assistance they may need. We value feedback and continuously strive to improve our products and services to exceed customer expectations</b>.
                        </p>
                        <p class="stext-114 cl6 p-r-40 p-b-11" style="font-size:18px;">
                        <b>Community Engagement:
                        Snapper is deeply rooted in the local community of  Karol Bagh, Delhi, and is committed to giving back. We actively support community initiatives, promote ethical manufacturing practices and strive to create a positive impact on society and the environment.
                       </b></p>
                       <p class="stext-114 cl6 p-r-40 p-b-11" style="font-size:18px;">
                        <b>Contact Information:<br>
                   
                           <b>Address: </b><a href="#"> 16/ 1075 , Ground Floor left side Krishna Gali, khalsa nagar tank road<br>  New delhi - 110005.</a><br>
                        <b>Phone:</b><a href="tel:9899893559"> +91-9899893559</a> ,<a href="tel:9899863559"> +91-9899863559</a><br>
                        <b>Email:</b><a href="mailto:prashanttanwar1992@gmail.com"> prashanttanwar1992@gmail.com</a><br>
                        <b>Website:</b> <a href="https://www.snapper.co.in">www.snapper.co.in</a><br>

                        At <b>Snapper</b>, we invite you to experience the perfect blend of <b>style, comfort, and durability</b> with our <b>premium clothing solutions</b>. Join us in redefining fashion and embracing <b>quality craftsmanship</b> that stands the test of time.
                       </p>

                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="/static/images/nikkar/luxury-nikkar-1.png" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	



{% endblock %}