{% extends 'master.html' %}

{% block body %}

<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/static/images/bg-1.png');">
	<h2 class="ltext-105 cl0 txt-center">
            Search Products..{{kailash}}
	</h2>
</section>	
 <center>
      {% if kailash %}
      
            <h1> {{kailash}}</h1>
            <br>
            <section class="sec-product-detail bg0 p-t-100 p-b-60">
              <div class="container">
                <div class="row">
                  {% for pro in product %}
                  <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                      <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
          
                        <div class="slick3 gallery-lb">
                          <div class="item-slick3" data-thumb="/{{pro.img}}">
                            <div class="wrap-pic-w pos-relative">
                              <img src="/{{pro.img}}" alt="IMG-PRODUCT">
          
                              <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/{{pro.img}}">
                                <i class="fa fa-expand"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    
                  <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                      <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                     {{pro.name}}
                      </h4>
                      <p class="stext-102 cl3 p-t-23">
                        {{pro.disc|safe}}
          
                      </p>
                      
                      
          
                    </div>
                  </div>
                  {% endfor %}
                </div>
            </section>

      {% else %}

      <h1>Hey ! you Forgot to search for a products...</h1>

      {% endif %} 
   
 </center>

{% endblock %}